<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/static/icon.png" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <title>PixPointSpy</title>
</head>

<body>
    <!-- Navbar -->
    <nav>
        <h1>PixPointSpy</h1>
    </nav>

    <!-- Controls -->
    <div>
        <button id="newImageBtn">New Image</button>
    </div>
    <div>
        <label for="pixelSlider">Pixel grid:</label>
        <input type="range" id="pixelSlider" min="2" max="128" step="1" value="32">
        <span id="pixelValue">32</span>
    </div>
    </div>
        <button id="pixelateBtn">Pixelate</button>
    </div>

    <!-- Images -->
    <div style="display: flex; justify-content: center; gap: 40px;">
        <div>
            <h3>Original</h3>
            <canvas id="canvasOriginal"></canvas>
        </div>
        <div>
            <h3>Find the Difference</h3>
            <canvas id="canvasAltered" style="cursor: crosshair;"></canvas>
        </div>
    </div>

    <script src="static/javascript.js"></script>
</body>

</html>
