<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/static/icon.png" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <title>PixPointSpy</title>
</head>

<body>
    <h1>PixPointSpy</h1>

    <button id="newImageBtn">New Image</button>
    <button id="pixelateBtn">Pixelate</button>

    <div>
        <h3>Original Image</h3>
        <img id="mainImage" src="" alt="Random image from Picsum">
    </div>
    <div>
        <h3>Pixelated Image</h3>
        <img id="pixelatedImage" src="" alt="Pixelated version will appear here">
    </div>

    <script>
        let currentImageUrl = '';
        let currentImageId = null;

        async function loadRandomImage() {
            const response = await fetch('/random-image');
            const data = await response.json();
            currentImageUrl = data.url;
            currentImageId = data.id;
            document.getElementById('mainImage').src = currentImageUrl;
            document.getElementById('pixelatedImage').src = '';
        }

        async function pixelateCurrentImage() {
            if (!currentImageUrl) return alert('No image loaded yet!');
            const pixelCount = 32;
            const response = await fetch(`/pixelate-image?url=${encodeURIComponent(currentImageUrl)}&pixels=${pixelCount}`);
            const data = await response.json();
            document.getElementById('pixelatedImage').src = data.pixelated;
        }


        document.getElementById('newImageBtn').addEventListener('click', loadRandomImage);
        document.getElementById('pixelateBtn').addEventListener('click', pixelateCurrentImage);

        window.onload = loadRandomImage;
    </script>

</body>

</html>
